.MenuItem{
    font-size: 1.5rem!important;
}

.SelectedMenuItem{
    font-size:1.5rem!important;
}

.fieldTitle{
    color: black!important;
    font-weight: 700!important;
}
.singleField{
    margin-top:20px!important;
}
.size,
.price,
.phone,
.link{

    margin-top: 0!important;
   input{
    font-size: 1.5rem!important;
    text-align: center;
    // color: #6F51AA;
    letter-spacing: 0.8px;
   }
}

.single-button{
    text-decoration: none!important;
    margin-top: 0!important;
}


.MuiFormControl-root-169 .RadioButtonsGroup-formControl-166{
    margin-bottom: 0!important;
}