.MenuItem{
    font-size: 1.5rem!important;
}

.SelectedMenuItem{
    font-size:1.5rem!important;
}

.fieldTitle{
    color: black!important;
    font-weight: 700!important;
}
.singleField{
    margin-top:20px!important;
}
.size,
.price,
.phone,
.link{
   input{
    font-size: 1.5rem!important;
    text-align: center;
   }
}
