.SingleBtn{
   background-color: #3C4EAC;
    padding-right: 20px;
    border: 1px solid #c4c5c4;
    border-radius: 10%;
    color: white!important;
}
.mr-util{
     margin-right: 150px;
}

.RadioButtonsGroup-root-223{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttonsGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MuiIconButton-label-249{
    color: white!important;
}
