// .box{
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: nowrap;
// 	margin: 5% 10%;
// }
// .filtersSearch{
// 	display: flex;
// 	flex-direction: column;
// 	margin-left: 10%;
// }
// .reason{
// 	width: 500px;
// 	margin-left: 30%;
// 	margin-right: 10%;

// }

// .singleFilterSearch{
// 	font-weight: bolder;
// 	font-family: Cursive;
// 	text-align: center;
// 	border: 3px solid black;
// 	width: 300px;;
// 	height: 50px;
// 	border-radius: 15px;
// 	margin: 10% 10%;
// 	justify-content: center;
// 	outline: none;
// }
// .customSelectSearch{
// 	position: relative;
//   display: flex;
//   flex-direction: column;
//   margin-top: 5%;
// }
// .textdecor{
// 	text-decoration: none;
// }
// .submit{
// 	width: 200px;
// 	text-align: center;
// 	text-decoration: none;
// 	color: black;
// 	padding: 10px;
// 	border-radius: 15px;
// 	background-color: #f16c51;
// 	margin-left: 30%;
// 	margin-top: 60%;
// }
// .submit:hover{
// 	-moz-box-shadow:    inset 0 0 10px rgba(0, 0, 0, 55%);
//    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 55%);
//    box-shadow:         inset 0 0 10px rgba(0, 0, 0, 55%);
// }
// .status{
// 	display: flex;
// 	flex-direction: row;
// }








// /* Customize the label (the container) */
// .statusBox {
//   display: block;
//   position: relative;
//   padding-left: 35px;
// 	margin-top: 10%;
//   margin-bottom: 12px;
// 	margin-left: 20%;
//   cursor: pointer;
//   font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// /* Hide the browser's default radio button */
// .statusBox input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;
// }

// /* Create a custom radio button */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 25px;
//   width: 25px;
//   background-color: #eee;
//   border-radius: 50%;
// }

// /* On mouse-over, add a grey background color */
// .statusBox:hover input ~ .checkmark {
//   background-color: #ccc;
// }

// /* When the radio button is checked, add a blue background */
// .statusBox input:checked ~ .checkmark {
//   background-color: #f16c51;
// }

// /* Create the indicator (the dot/circle - hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the indicator (dot/circle) when checked */
// .statusBox input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the indicator (dot/circle) */
// .statusBox .checkmark:after {
//   top: 9px;
//   left: 9px;
//   width: 8px;
//   height: 8px;
//   border-radius: 50%;
//   background: white;
// }


.leftPanel{
  width: 100%;
  display:flex;
  justify-content: space-around;

}
.label{
  font-weight: 500;
  font-size: 2.2rem;
  margin-bottom: 0;
  margin-top: 2rem;
}
.textfield{
  margin-top: 0!important;
  margin-bottom:2rem!important;
}

.buttons-box{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.single-button{
  border: 1px solid #000;
  font-size: 22px;
}

.MuiFormControl-root-164{
  width: 100%;
}
.MuiSelect-outlined-189{
  font-size: 1.5rem!important;
}
