.yourEntry{
	text-align: center;
	font-size: 4rem;
  margin-top: 5%;
	color: #6e48aa;
}
.entry{
  width: 40%;
  height: auto;
	overflow: hidden;
	position: relative;
	margin-left: 28%;
	margin-right: 28%;
	text-align: center;
}
.singleEntry{
	margin-top: 5%;
}
