.results{
	text-align: center;
	font-size: 4rem;
  margin-top: 2%;
}
.entry{
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;;
}
.singleEntry{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
