.results{
	text-align: center;
	font-size: 4rem;
	margin-top: 2%;
}
.resultsContainer{
	display: flex;
	margin-top: 2%;
}
.filters{
	margin-right: 20%;
	margin-left: 10%;
	display: flex;
	flex-direction: column;
}
.priceFilter, .sizeFilter, .locationFilter{
	font-weight: bolder;
	font-family: Cursive;
	text-align: center;
	border: 3px solid black;
	width: 150px;;
	height: 40px;
	border-radius: 15px;
	margin: 0 10%;
	justify-content: center;
	outline: none;
}
.customSelect{
	position: relative;
	margin-top: 20%;
}
label{
	font-weight: bolder;
	margin: 0;
	padding: 0;
	font-size: 18px;
	margin-left: 10%;
}
.properties{
	overflow-y: scroll;
}
.image{
	width: 750px;
	height: 500px;
	float: right;
}
figcaption{
	font-size: 20px;
	font-weight: bold;
}
