.entityDescription{
    display: flex;
    flex-direction: row;
    margin-top: 10px!important;
    &_singleItem{
        font-size: 18px;
        font-weight: 500;
    }

}
.singleEntity{
    margin-bottom: 30px;
}
.image{
    background-color: blue;
    margin-bottom: 100px;
}
.entityImage{
    width: 100%;
    height: auto;
}
.icon{
    height: 17px;
}