.entityDescription{
    display: flex;
    flex-direction: row;
    margin-top: 10px!important;
    flex-wrap: wrap;
    direction: ltr;
    justify-content: center;
    padding: 15px;
    &_singleItem{
        font-size: 19px;
        font-weight: 400;
        padding: 10px;
    }

}
.singleEntity{
    margin-bottom: 30px;
}
.image{
    background-color: blue;
    margin-bottom: 100px;
    height: 350px;
}
.entityImage{
    width: 100%;
    height: auto;
}
.icon{
    height: 17px;
    padding-left: 30px;
}
.secondLine{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.singlePaper{
  background-color: #444;
}
