.chatbot{
  width:100%;
}
.bot{
  width: 85px;
  height: auto;
  z-index: 2;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.bot:hover{
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  cursor: pointer;
}
.parent{
  width:100%;
}
.results{
  color: rgba(245, 93, 62);
  font-size: 18px !important;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
