.chatbot{
  width:100%;
}
.bot{
  position: absolute;
  width: 85px;
  height: auto;
  margin-right: 5%;
  bottom: 40px;
  right:20px;
  z-index: 2;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}
.bot:hover{
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
  cursor: pointer;
}
.parent{
  width:100%;
}
.chat{
  position: sticky;
  z-index: 2;
  height: auto;
  float: right;
  margin-right: 10%;
  margin-top: 27%;
}
